:root{
    --bg_color-black: #121212;
    --bg_color-dark_blue :#19202D;
    --white : #fff;
    --grey_100 : #E7EAEE;
    --grey_200: #CFCFCF;
    --gref_400: #676D7E;
    --grey_500: #48556A;
    --purple_50: #EDE4FF;
    --purpe_300: #A775F1;
    --purple_500: #733FC8;
    --spacing_500: 40px;
    --spacing_400: 32px;
    --spacing_300: 24px;
    --spacig_200: 16px;
    --spacing_100: 8px;
    --spacing_50: 4px;
}